@import "root.css";

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.title {
  font-size: 3rem;
}

.contrast {
  font-size: 3rem;
  -webkit-text-stroke-width: 0.2rem;
}

.header .ph-fill {
  font-size: 3.5rem;
  cursor: pointer;
  color: var(--green-100);
  cursor: pointer;
  transition: 0.2s linear;
}

.header .ph-fill:hover {
  color: var(--green-300);
}

.settings-button {
  background: none;
}

.dropdown-menu {
  width: 27rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  right: 6rem;
  background: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem #1e1e1e3f;
  flex-direction: column;
  gap: 1rem;
}

.dropdown-menu > .title {
  font-size: 2rem;
}

.dropdown-menu > .button {
  width: 100%;
  font-size: 1rem;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.active {
  display: flex;
}

.main {
  flex: 1;
  padding: 1rem;
}
